{% extends 'core/base.html' %}
{% load static %}
{% block title %}Acerca de{% endblock %}
{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block headers %}
 <h1>Acerca de</h1>
 <span class="subheading">Biografía</span>
{% endblock %}
{% block content %}
<div class="row">
 <div class="col-lg-3 col-md-4 offset-lg-1">
 <img class="img-fluid avatar"
 src="{% static 'core/img/avatar.jpg' %}" alt="">
 </div>
 <div class="col-lg-7 col-md-8">
 <h2 class="section-heading">Claudia López Rodríguez</h2>
 <p>Estudiante de Ingeniería Matemática con experiencia en programación en Python, análisis de datos y Machine Learning. Capacitada para desarrollar soluciones eficientes utilizando algoritmos avanzados, optimización numérica y modelos predictivos. Mi formación me permite abordar problemas complejos, desde el análisis estadístico hasta la implementación de modelos de aprendizaje automático, adaptándome a diversas tecnologías y entornos.</p>
 <p> Me enfoco en aplicar mis habilidades para encontrar soluciones innovadoras a retos interdisciplinarios, manteniendo siempre un enfoque en la mejora continua y la excelencia técnica.</p>    
</div>
</div>
{% endblock %}



